.banner{
    height: 56vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.banner img{
    width: 100%;
    height: auto;
}

.banner::before{
    content:'';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}

.banner-text-area{
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
}

.banner-text-area >*{
    z-index: 2;
    padding: 0.5rem;
    /* width: 180%; */

}

.banner-text-area >.title, h3{
    z-index: 2;
    padding: 0.5rem;
    font-family: 'HANAMDAUM';
}


@media screen and (max-width: 768px){
    .banner-text-area{
        width: 90%;
    }


    .title{
        font-size: 20px;
        margin-top: 15vh;
    }

    p{
        font-size: small;
    }

}


@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}