.movie-card{
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
}

.overlay:hover{
    opacity: 1;

}

.movie-card:hover{
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
    background-color: rgba(45, 45, 45, 0.747);
}

.age-mark{
    width: 17px;
    height: 17px;
    border-radius: 10px;
}

.card-title{
    font-family: 'WavvePADO-Regular';
    
}

.overlay > *{
    margin-left: 5px;
    margin-top: 10px;
}

@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}